<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:mailto="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
  <link rel="stylesheet" href="styles.css">
  <title>Personal Website | Jaydee and Harry</title>
</head>

<body>

<nav>
  <div class="nav-links">
    <a th:href="@{/}">Homepage</a>
    <a th:href="@{/songs}">Our Music Wrapped</a>
    <a th:href="@{/hobbies}">Our Hobbies</a>
  </div>
  <button class="ToDobtn" th:onclick="|location.href='@{/todos}'|">To-do List</button>
</nav>

<div class="hero">
  <div class="left-section">
    <div class="top">
      <span class="blur"></span>
      <span class="blur"></span>
      <h4>WELCOME TO OUR PERSONAL WEBSITE</h4>
      <h1>Hi, We're <span>Jaydee & Harry</span>, Aspiring Developers</h1>
      <p>
        We're sophomore Computer Science students based in Manila, Philippines, specializing in Statistical Computing and Health Informatics. Experienced in machine learning, data science, and full-stack development using Python, Java, PHP, and Laravel.
      </p>

      <div class="buttons">
        <button class="doc">Hire Us Now <i class="ri-arrow-right-line"></i></button>
        <a th:href="@{/static/others/Resume_SALAZAR.pdf}" target="_blank">
          <button class="git">Our Resumes</button>
        </a>
      </div>
    </div>
    <div class="bottom">
      <p>Our Other Socials:</p>
      <div class="icons">
        <i class="ri-twitter-x-line"></i>
        <a href="https://www.linkedin.com/in/jaydeesalazar/" target="_blank">
          <i class="ri-linkedin-box-line"></i>
        </a>
        <i class="ri-instagram-line" onclick="openInstagramAccounts()"></i>
      </div>
    </div>
  </div>

  <img th:src="@{/images/GonxKillua.JPG}">

</div>

<div class="projects">
  <p>Our Projects Showcase</p>
  <h2>Explore some of our standout works, highlighting our skills in developing beautiful, user-friendly programs.</h2>
  <div class="items">
    <div class="item">
      <div class="inner">
        <img th:src="@{/images/machinelearningpic.png}">
        <a href="https://colab.research.google.com/drive/1Lr42pPbLUmZqo6F6Mgl72fiemZvLWCCH?usp=sharing">Term Subscription Predictor</a>
        <p>a machine learning model made using Python to target bank clients likely to open term deposits, utilizing pandas, scikit-learn, and numpy.</p>
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img th:src="@{/images/enrollmentsystem.jpg}">
        <a href="https://github.com/krispybataa/machine-problem.git">University Enrollment System</a>
        <p>A web-based enrollment system for the University of the Philippines Manila using PostgreSQL and Laravel, allowing students to enroll in subjects and professors to manage classes and student enrollments.</p>
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img th:src="@{/images/quinepic.png}">
        <a href="https://github.com/JaydeeSalazar/QuineMcCluskeySimulator-CMSC-130-MachineProblem1.git">Quine-McCluskey Simulator</a>
        <p>A program made using Java that handles Boolean expressions using the Quine-McCluskey algorithm, finding prime implicants to output a simplified expression.</p>
      </div>
    </div>
    <div class="item">
      <div class="inner">
        <img th:src="@{/images/inventorysystempic.jpg}">
        <a href="https://github.com/JaydeeSalazar/InventoryManagementSystem-CMSC-23-Machine-Problem-.git"> Restaurant Inventory System</a>
        <p>an inventory system made using Java for a Japanese restaurant, collaborating through GitHub and applying object-oriented programming.</p>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  <h2>Interested in Working Together?</h2>
  <div class="items">
    <div class="item">
      <a href="#">Schedule a call</a>
      <p>Let's discuss your project ideas and how I can help you.</p>
      <a href="https://calendar.google.com/calendar/u/0/r/eventedit?add=adsalazar3@up.edu.ph,hracosta@up.edu.ph" target="_blank">
        <button>Schedule a Call</button>
      </a>

    </div>
    <div class="item">
      <a href="#">Explore Our Works</a>
      <p>View our portfolio to see what we can do for you.</p>
      <a href="https://github.com/hwracosta/Personal-Website.git" target="_blank">
        <button>View Our Works</button>
      </a>
    </div>
  </div>
</div>

<footer>
  <a href="mailto:adsalazar3@up.edu.ph,hracosta@up.edu.ph?subject=Business%20Inquiry">For business inquiries: adsalazar3@up.edu.ph, hracosta@up.edu.ph</a>
  <p>© 2024 Harry and Jaydee Inc.</p>
</footer>

<script>
  function openInstagramAccounts() {
      window.open("https://www.instagram.com/hazza.costa/", "_blank");
      window.open("https://www.instagram.com/ajmdsalazar/", "_blank");
  }
</script>

</body>

</html>
