<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Personal Website | Jaydee and Harry</title>
</head>

<body>
<nav>
  <div class="nav-links">
    <a href="/">Homepage</a>
    <a href="/songs">Our Music Wrapped</a>
    <a href="/hobbies">Our Hobbies</a>
  </div>
  <button class="ToDobtn" onclick="location.href='/todos'">To-do List</button>
</nav>

<main>
  <div class="music-showcase">
    <h2 class="music-title">Need Some Music Recommendations?</h2>
    <p class="music-info">Jaydee and Harry present to you the definitive list of the greatest songs of all time. Don't agree? Send us an email.</p>

    <div class="buttons">
      <a href="https://open.spotify.com/playlist/4KenetlX9SSX2jM5YMntge?si=6oUVCBz8Toe2k6QJ2CN_aA&pi=a-tBEBLtCcS5-H" target="_blank">
        <button class="git"><i class="fab fa-spotify"></i> Shuffle Our Playlist</button>
      </a>
    </div>

  </div>
  <div class="music-cards">
    <div class="card">
      <h2>Jaydee's List</h2>
      <div th:each="song : ${jaydeeSongs}" class="song">
        <img th:src="${song.albumArtworkUrl}" alt="Album Art">
        <div class="song-info">
          <h3 th:text="${song.title}">Song Title</h3>
          <p th:text="${song.artist}">Artist Name</p>
        </div>
      </div>
    </div>

    <div class="card">
      <h2>Harry's List</h2>
      <div th:each="song : ${harrySongs}" class="song">
        <img th:src="${song.albumArtworkUrl}" alt="Album Art">
        <div class="song-info">
          <h3 th:text="${song.title}">Song Title</h3>
          <p th:text="${song.artist}">Artist Name</p>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <a href="#">For business inquiries: adsalasar3@up.edu.ph, hracosta@up.edu.ph</a>
  <p>© 2024 Harry and Jaydee Inc.</p>
</footer>

<script>
  window.onload = function() {
    document.querySelector(".music-cards").classList.add("loaded");
  };
</script>

</body>
</html>
